// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$CSC179-VendiaDashboard-TSG-primary: mat.define-palette(mat.$indigo-palette);
$CSC179-VendiaDashboard-TSG-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$CSC179-VendiaDashboard-TSG-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$CSC179-VendiaDashboard-TSG-theme: mat.define-light-theme((color: (primary: $CSC179-VendiaDashboard-TSG-primary,
        accent: $CSC179-VendiaDashboard-TSG-accent,
        warn: $CSC179-VendiaDashboard-TSG-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($CSC179-VendiaDashboard-TSG-theme);

/* This is a global style sheet */

html {
  overflow-x: clip;
  /* Chrome */
  overflow-y: scroll;
  /* Chrome */
  scrollbar-width: auto;
  /* Firefox */
  -ms-overflow-style: auto;
  /* IE and Edge */
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* scrollbar invisible */
}

::-webkit-scrollbar-thumb {
  background: #bababa;
  /* show position indicator in a color */
}

.xng-breadcrumb-root {
  padding: 0px 5px;
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(56, 47, 114);
}

.white-text {
  color: white;
}

.ltgray-text {
  color: rgb(214, 213, 213);
}

.white-filter {
  filter: grayscale(100%);
  filter: brightness(100);
  -webkit-filter: grayscale(100%);
  -webkit-filter: brightness(100);
}

.invert {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.bc-text-fix {
  position: relative;
  top: 10px;
}

.is-relative {
  position: relative;
}

.allWidgets {
  padding: 5em 4.75em 0em;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Please keep this at the end of the file */
@import "..\node_modules\bulma\css\bulma.css";
