<div class="allWidgets">
  <!-- BREADCRUMB -->
  <div id = breadcrumb>
    <xng-breadcrumb class="xng-breadcrumb-root">
      <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info; let first = first">
        <mat-icon class="ltgray-text" *ngIf="info">{{ info }}</mat-icon>
        <ng-container *ngIf="!first"><p class="bc-text-fix ltgray-text">{{ breadcrumb }}</p></ng-container>
      </ng-container>
    </xng-breadcrumb>
  </div><p></p>

  <b style="color:white">The Smelly Gamers presents:</b>

  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <div class="title">
          <span class="menu-text aboutUsTitle">
            <mat-icon>diversity_1</mat-icon>
            <span class="navLabel sideNavReposition">&ensp;About Us</span>
          </span>
        </div>
      </div>
    </div>
  </div>

<div class="hero-body hero-body-wc">
  <div class="level">
    <div class="level-left">
      <div class="level-item is-hero-avatar-item">
        <div class="image is-128x128">
          <img class = "image is-rounded"src ="assets/icons/cheesytime.jpg" alt="temp icon">
        </div>
      </div>
      <div class = "infoParagraph">
        <h1>Belle Nguyen</h1>
        <h2>Like to shit her pants<br> Knows how to shit her pants</h2>
      </div>
    </div>
  </div>
</div>

<div class="hero-body hero-body-wc">
  <div class="level">
    <div class="level-left">
      <div class="level-item is-hero-avatar-item">
        <div class="image is-128x128">
          <img src ="assets/icons/animeNue.JPG" alt="temp icon">
        </div>
      </div>
      <div class = "infoParagraph">
        <h1>Nue Khang</h1>
        <h2>Loves anime<br> Waifu is Marin</h2>
      </div>
    </div>
  </div>
</div>

</div>


