<div class="allWidgets">
  <!-- BREADCRUMB -->
  <div id = breadcrumb>
    <xng-breadcrumb class="xng-breadcrumb-root">
      <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info; let first = first">
        <mat-icon class="ltgray-text" *ngIf="info">{{ info }}</mat-icon>
        <ng-container *ngIf="!first"><p class="bc-text-fix ltgray-text">{{ breadcrumb }}</p></ng-container>
      </ng-container>
    </xng-breadcrumb>
  </div><p></p>

  <b style="color:white">The Smelly Gamers presents:</b>

  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <div class="title">
          <span class="menu-text aboutUsTitle">
            <mat-icon>diversity_1</mat-icon>
            <span class="navLabel sideNavReposition">&ensp;About Us</span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-body hero-body-wc">
    <div class="level">
      <div class="level-left">
        <div class="level-item is-hero-avatar-item">
          <div class="image is-128x128">
            <img src ="assets/icons/ProGamerDave.jpg" alt="temp icon">
          </div>
        </div>
        <div class = "infoParagraph">
          <h1>David Nguyen</h1>
          <p>Likes to play games and cosplay as female characters
          <br><i>Tech Stack: HTML/CSS, Java, JavaScript, TypeScript, C#, ASP.NET, Angular.JS, mySQL</i></p>
        </div>
      </div>
    </div>
  </div>

<div class="hero-body hero-body-wc">
  <div class="level">
    <div class="level-left">
      <div class="level-item is-hero-avatar-item">
        <div class="image is-128x128">
          <img src ="assets/icons/cheesytime.jpg" alt="temp icon">
        </div>
      </div>
      <div class = "infoParagraph">
        <h1>Belle Nguyen</h1>
        <p>Like to draw and play games
          <br><i>Tech Stack: Java, javascript, HTML/CSS, python, C++, C#, SQL. <br>Currently learning Angular</i></p>
      </div>
    </div>
  </div>
</div>

<div class="hero-body hero-body-wc">
  <div class="level">
    <div class="level-left">
      <div class="level-item is-hero-avatar-item">
        <div class="image is-128x128">
          <img src ="assets/icons/animeNue.JPG" alt="temp icon">
        </div>
      </div>
      <div class = "infoParagraph">
        <h1>Nue Khang</h1>
        <p>Loves anime
          <br><i>Tech Stack: Java, C++, HTML/CSS, Node.js</i></p>
      </div>
    </div>
  </div>
</div>

<div class="hero-body hero-body-wc">
  <div class="level">
    <div class="level-left">
      <div class="level-item is-hero-avatar-item">
        <div class="image is-128x128">
          <img src ="assets/icons/kawaiiTimUWU.JPG" alt="temp icon">
        </div>
      </div>
      <div class = "infoParagraph">
        <h1>Timothy Chiang</h1>
        <p>Was a highschool band nerd
          <br><i>Tech Stack: C++, Java, Javascript, SQL </i></p>
      </div>
    </div>
  </div>
</div>

<div class="hero-body hero-body-wc">
  <div class="level">
    <div class="level-left">
      <div class="level-item is-hero-avatar-item">
        <div class="image is-128x128">
          <img src ="assets/icons/SpiderDom.jpg" alt="temp icon">
        </div>
      </div>
      <div class = "infoParagraph">
        <h1>Dominic Nance</h1>
        <p>Was a Drummer boy in his youth
          <br><i>Tech Stack: Java, Javascript, HTML/CSS</i></p>
      </div>
    </div>
  </div>
</div>

<div class="hero-body hero-body-wc">
  <div class="level">
    <div class="level-left">
      <div class="level-item is-hero-avatar-item">
        <div class="image is-128x128">
          <img src ="assets/icons/ActorLogan.jpg" alt="temp icon">
        </div>
      </div>
      <div class = "infoParagraph">
        <h1>Logan Arense</h1>
        <p>Idk him, his name is Zeus in discord.
          <br><i>Tech Stack: C/C++, Java, SQL</i></p>
      </div>
    </div>
  </div>
</div>

</div>


