#tm {
  background: rgb(8, 4, 36);
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
	left: 200px;
	padding: 15.5px 10px;
	z-index: 20;
	font-size: .7rem;

	// mobile
	@media (max-width: 768px) {
    left: 0;
	}
}

#smellyLink {
  color: rgb(185, 178, 230);
}
