<div class="grid-item" class="allWidgets">
  <!-- BREADCRUMB -->
  <div id="breadcrumb">
    <xng-breadcrumb class="xng-breadcrumb-root">
      <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info; let first = first">
        <mat-icon class="ltgray-text" *ngIf="info">{{ info }}</mat-icon>
        <ng-container *ngIf="!first">
          <p class="bc-text-fix ltgray-text">{{ breadcrumb }}</p>
        </ng-container>
      </ng-container>
    </xng-breadcrumb>
  </div>
  <div style="height: 0.5em;"></div>

  <!-- PAGE HEADER -->
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <div class="title">
          <mat-icon class="iconTitle">{{ icon }}</mat-icon>
          <span class="pageTitle"> {{ title }} </span>
        </div>
      </div>
    </div>
  </div>

  <!-- USER WELCOME -->
  <div class="hero-body hero-body-wc">
    <div class="level">
      <div class="level-left">
        <div class="level-item is-hero-avatar-item">
          <div class="image is-128x128">
            <img class="is-rounded" src="assets/icons/greyUser.jpg" alt="temp icon">
          </div>
        </div>
        <div class="level-item is-hero-content-item white-text">
          <div>
            <h1 class="title is-spaced white-text">Welcome, <b>{{ username }}</b>!</h1>
            <h3 class="subtitle white-text">The time is <b>{{ getTime }}</b></h3>
            <p><i>{{ randomQuote }}</i></p>
          </div>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <button mat-button (click)="devButton()" class="button is-light" title="Profile" style="position:relative;left:3em;">
            <span class="icon">
              <mat-icon>person</mat-icon>
            </span>
            <span>Manage profile</span>
          </button>
        </div>
        <div id="overallShare" class="level-item">
          <a routerLink="#" class="button is-small is-ghost">
            <mat-icon class="white-text">share</mat-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
  <br>

  <!-- LOADING BAR IF DATA IS NULL -->
  <section class="box pt-0 px-0" style="width: 93.8vw;">
    <ng-container *ngIf="(asyncTabs | async) === null">
      <br>
      <p class="subtitle" style="padding-left:1em;"><b>Loading data...</b></p>
      <mat-progress-bar mode="buffer"></mat-progress-bar>
    </ng-container>

    <mat-tab-group mat-stretch-tabs selectedIndex="0" (selectedTabChange)="changeTab($event)" [color]="'primary'">
      <mat-tab class="mat-tab-body-content" *ngFor="let tab of asyncTabs | async">
        <ng-template mat-tab-label>{{ tab.label }}</ng-template>
        <!-- START CHECK BOXES -->
        <div [formGroup]="genderDataSelection">
          <div class="buttons is-small has-addons is-centered p-0">
            <button class="button is-white p-2">
              <mat-checkbox formControlName="sMale">
                Male
              </mat-checkbox>
            </button>
            <button class="button is-white p-2">
              <mat-checkbox formControlName="sFemale">
                Female
              </mat-checkbox>
            </button>
            <button class="button is-white p-2">
              <mat-checkbox formControlName="sTransgender">
                Transgender
              </mat-checkbox>
            </button>
            <button class="button is-white p-2">
              <mat-checkbox formControlName="sNonBinary">
                NonBinary
              </mat-checkbox>
            </button>
            <button class="button is-white p-2">
              <mat-checkbox formControlName="sNoResponse">
                Prefer No Response
              </mat-checkbox>
            </button>
          </div>

        </div>
        <!-- END CHECK BOXES -->

        <!-- START OF DYNAMIC TILES -->
        <div class="tile is-ancestor has-text-centered columns-vw"
          style="padding: 1em 0em 1em; width: 73em; position:relative; left: 1em;">
          <div class="tile is-parent">
            <div class="tile is-child box notification is-warning is-light">
              <p class="title">{{ numEmpl }}</p>
              <p class="subtitle">Total Employees</p>
            </div>
          </div>

          <div class="tile is-parent">
            <div class="tile is-child box notification is-danger is-light">
              <p class="title">{{ tab.value1 }}</p>
              <p class="subtitle">Average</p>
            </div>
          </div>

          <div class="tile is-parent">
            <div class="tile is-child box notification is-info is-light">
              <p class="title">{{ tab.value2 }}</p>
              <p class="subtitle">Mode</p>
            </div>
          </div>

          <div class="tile is-parent">
            <div class="tile is-child box notification is-link is-light">
              <p class="title">{{ tab.value3 }}</p>
              <p class="subtitle">Range</p>
            </div>
          </div>

          <div class="tile is-parent">
            <div class="tile is-child box notification is-link is-light">
              <p class="title">{{ tab.value4 }}</p>
              <p class="subtitle">Std. Deviation</p>
            </div>
          </div>
        </div>
        <!-- END OF DYNAMIC TILES -->
      </mat-tab>
    </mat-tab-group>
  </section>

  <section class="columns is-centered is-multiline columns-vw">
    <!-- START OF RIGHT CARD -->
    <div class="column is-6">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            <span class="icon">
              <mat-icon>donut_small</mat-icon>
            </span>
            <span style="position:relative; top:2px;">&ensp;Employee's Gender Statistics</span>
          </p>
        </header>

        <div class="card-content">
          <ng-container *ngIf="isLoading">
            <mat-spinner style="position:relative; left:35%; top: 12em;"></mat-spinner>
          </ng-container>
          <canvas id="genderPie" width="400" height="430"></canvas>
        </div>
      </div>
    </div>
    <!-- END OF RIGHT CARD -->

    <!-- START OF LEFT CARD -->
    <div class="column is-6">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            <span class="icon">
              <mat-icon>bar_chart</mat-icon>
            </span>
            <span style="position:relative; top:2px;">&ensp;Overall Average Statistics</span>
          </p>
        </header>

        <div class="card-content">
          <ng-container *ngIf="isLoading">
            <mat-spinner style="position:relative; left:35%; top: 12em;"></mat-spinner>
          </ng-container>
          <canvas id="genderBar" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
    <!-- END OF LEFT CARD -->

    <section class="column is-full">

      <!-- START OF LIST OF EMPLOYEES -->
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            <span class="icon">
              <mat-icon>people</mat-icon>
            </span>
            <span style="position:relative; top:2px;">&ensp;Employees</span>
          </p>

          <!-- BUTTON ADD EMPL START -->
          <button mat-raised-button type="button" class="button is-small is-rounded"
            style="position: relative; top:1.2em; right:3em; background-color: #201D38;" (click)="addEmplModal()">
            <span class="subtitle is-6 white-text" style="position: relative; left: 1px; bottom: 5px; font-weight: bold;">
              Add Employees
            </span>
          </button>
          <!-- BUTTON ADD EMPL END -->

        </header>

        <div class="card-content">
          <ng-container *ngIf="isLoading">
            <p class="subtitle is-6" style="position: relative; top: 1.2em;"><b>Loading data...</b></p>
            <mat-progress-bar mode="buffer"></mat-progress-bar>
          </ng-container>

          <table class="table is-hoverable" mat-table [dataSource]="dataSource" style="width:100%">
            <!-- Position Column -->
            <ng-container matColumnDef="EmployeeID">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let data">{{data.EmployeeID}}.00</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let data">{{data.First}} {{data.Last}}</td>
            </ng-container>

            <!-- Age Column -->
            <ng-container matColumnDef="Age">
              <th mat-header-cell *matHeaderCellDef>Age</th>
              <td mat-cell *matCellDef="let data">{{data.Age}}</td>
            </ng-container>

            <!-- Gender Column -->
            <ng-container matColumnDef="Gender">
              <th mat-header-cell *matHeaderCellDef>Gender</th>
              <td mat-cell *matCellDef="let data">{{data.Gender}}</td>
            </ng-container>

            <!-- Height Column -->
            <ng-container matColumnDef="Height">
              <th mat-header-cell *matHeaderCellDef>
                <abbr title="Height">Ht.</abbr>
              </th>
              <td mat-cell *matCellDef="let data">{{data.Height}}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Weight">
              <th mat-header-cell *matHeaderCellDef>
                <abbr title="Weight">Wt.</abbr>
              </th>
              <td mat-cell *matCellDef="let data">{{data.Weight}}</td>
            </ng-container>

            <!-- Body Temp Column -->
            <ng-container matColumnDef="BodyTemp">
              <th mat-header-cell *matHeaderCellDef>
                <abbr title="Body Temperature">BBT.</abbr>
              </th>
              <td mat-cell *matCellDef="let data">{{data.BodyTemp}}</td>
            </ng-container>

            <!-- Pulse Rate Column -->
            <ng-container matColumnDef="PulseRate">
              <th mat-header-cell *matHeaderCellDef>
                <abbr title="Pulse Rate">PR.</abbr>
              </th>
              <td mat-cell *matCellDef="let data">{{data.PulseRate}}</td>
            </ng-container>

            <!-- Blood Pressure Column -->
            <ng-container matColumnDef="BloodPressure">
              <th mat-header-cell *matHeaderCellDef>
                <abbr title="Blood Pressure">BP.</abbr>
              </th>
              <td mat-cell *matCellDef="let data">{{data.BloodPressure}}</td>
            </ng-container>

            <!-- Respiration Column -->
            <ng-container matColumnDef="RespirationRate">
              <th mat-header-cell *matHeaderCellDef>
                <abbr title="Respiration Rate">RR.</abbr>
              </th>
              <td mat-cell *matCellDef="let data">{{data.RespirationRate}}</td>
            </ng-container>

            <!-- ExerciseAvg Column -->
            <ng-container matColumnDef="ExcerciseAvgPerWeek">
              <th mat-header-cell *matHeaderCellDef>
                <p style="position: relative; top: 11px;">
                  <abbr title="Avg Exercise Per Week">Avg E.</abbr>
                </p>
              </th>
              <td mat-cell *matCellDef="let data">{{data.ExcerciseAvgPerWeek}}</td>
            </ng-container>

            <!-- WorkAvg Column -->
            <ng-container matColumnDef="WorkAvgPerWeek">
              <th mat-header-cell *matHeaderCellDef>
                <abbr title="Avg Work Per Week">Avg Wrk.</abbr>
              </th>
              <td mat-cell *matCellDef="let data">{{data.WorkAvgPerWeek}}</td>
            </ng-container>

            <!-- Vacation Column -->
            <ng-container matColumnDef="VacationBalance">
              <th mat-header-cell *matHeaderCellDef>
                <abbr title="Vacation Balance">PTO.</abbr>
              </th>
              <td mat-cell *matCellDef="let data">{{data.VacationBalance}}</td>
            </ng-container>

            <!-- Info Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let data" class="action-link">
                <a (click)="addData()" style="color:rgba(32, 29, 56, 0.781)">
                  <mat-icon>edit</mat-icon>
                </a>

                <mat-icon style="visibility:hidden; width: 5px; height: 0px;">star</mat-icon>

                <a (click)="addData()" style="color:rgba(32, 29, 56, 0.781)">
                  <mat-icon>delete</mat-icon>
                </a>

                <mat-icon style="visibility:hidden; width: 5px; height: 0px;">star</mat-icon>

                <a (click)="addData()" style="color:rgba(32, 29, 56, 0.781)">
                  <mat-icon>info</mat-icon>
                </a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
