.grid-container {
  display: grid;
}

#dashWidgets {
  padding: 1em 1em;
}

// Formatting
.white-text {
  color: white;
}

.ltgray-text {
  color: rgb(214, 213, 213);
}

.white-filter {
  filter: grayscale(100%);
  filter: brightness(100);
  -webkit-filter: grayscale(100%);
  -webkit-filter: brightness(100);
}
