body {
  background-color: rgb(9, 42, 80);
  height: auto;

  // take the header and sidebar into account
  .routerOut {
    position: relative;
    top: 64px;
  }

  .routerInnerOut {
    position: relative;
    left: 60px;
    width: 97.9%;
    z-index: 17;
  }
}
