.container-edit {
  width: auto;
  height: auto;
  box-shadow: 0px 2px 4px gray;
  padding: 0em 0em 2em;
}

.stepperAndContainer {
  background-color: #fbfbff;
}

.hero {
  box-shadow: 0px 2px 4px gray;
  display: block;
  background-color: #201D38;
  background-image: url("../../../assets/backgrounds/addEmplBG.svg");
  background-attachment: fixed;
}
