<div class="container box container-edit stepperAndContainer">

  <section class="hero box is-info">
    <div class="hero-body">
      <p class="title is-1">
        Add Employee
      </p>
      <p class="subtitle is-6">
        Fill out the information in the following form to add an employee.
      </p>
    </div>
  </section>


  <div>
    <ng-container *ngIf="isLoading">
      <mat-spinner style="position:relative; left:19vw;"></mat-spinner>
    </ng-container>
  </div>

  <div [hidden]="isLoading" >
    <form [formGroup]="form" (ngSubmit)="submitEmployeeDetails()">
      <mat-stepper [linear]="true" orientation="vertical" class="stepperAndContainer" #stepper>
        <mat-step *ngFor="let step of stepperForm; let idx = index; let last = last;">
          <ng-template matStepLabel>{{ step.label }}</ng-template>
          <formly-form
          [form]="form.at(idx)"
          [model]="submitModel"
          [fields]="step.fields"
          [options]="options[idx]">
        </formly-form>
        <br>
        <div>
          <button *ngIf="idx !== 0" mat-button matStepperPrevious (click)="prevStep(idx)" type="button">Back</button>
          <button *ngIf="!last" mat-button matStepperNext [disabled]="!form.at(idx).valid" (click)="nextStep(idx)" type="button">Next</button>
          <button *ngIf="last" mat-button matStepperNext [disabled]="!form.valid" type="submit">Submit</button>
        </div>
        </mat-step>
      </mat-stepper>
    </form>
  </div>
</div>
