<div class="menu">
  <mat-sidenav #sidenav mode="push" [(opened)]="opened">
    <mat-list-item id="sideToggler" (click)="sidenav.toggle()">
      <span style="color:white">
        <mat-icon class="arrowIndicator">double_arrow</mat-icon>
        <mat-icon class="menuIndicator">menu_open</mat-icon>
      </span>
    </mat-list-item>

    <mat-list-item class="redockIcons">
      <!-- GENERAL -->
      <p class="menu-label ltgray-text navLabel">General</p>
      <ul class="menu-list">

        <!-- HOME -->
        <a routerLink="/">
          <span class="menu-text">
            <mat-icon>home</mat-icon>
            <span class="navLabel sideNavReposition">&ensp;Home</span>
          </span>
        </a>

      </ul>

      <!-- ADMIN -->
      <p class="menu-label ltgray-text navLabel">Administration</p>
      <ul class="menu-list">

        <!-- DASHBOARD -->
        <a class="" routerLink="/dashboard">
          <span class="menu-text">
            <mat-icon>dashboard</mat-icon>
            <span class="navLabel sideNavReposition">&ensp;Dashboard</span>
          </span>
        </a>
      </ul>

      <!-- SOCIAL -->
      <p class="menu-label ltgray-text navLabel">Social</p>
      <ul class="menu-list">

        <!-- ABOUT US -->
        <a class="" href="/aboutus">
          <span class="menu-text">
            <mat-icon>diversity_1</mat-icon>
            <span class="navLabel sideNavReposition">&ensp;About Us</span>
          </span>
        </a>

        <!-- THE CLIENT -->
        <a href="https://www.vendia.net/" target="_blank">
          <span class="menu-text">
            <mat-icon>how_to_reg</mat-icon>
            <span class="navLabel sideNavReposition">&ensp;The Client</span>
          </span>
        </a>

      </ul>
    </mat-list-item>
  </mat-sidenav>
</div>


