// SIDE NAVIGATION
mat-sidenav {
  background-color: rgb(8, 4, 36, 0.99) !important;
  visibility: visible !important;
  padding: 2em .5em 0 .5em;
  height: calc(100vh - 64px);
  overflow: hidden;
  position: fixed;
  top: 64px;
  width: 200px !important;
  z-index: 19;

  mat-icon {
    &.arrowIndicator {
      transform: rotate(180deg);
      position: relative;
      top: 4px;
      width: auto;
      height: auto;
      font-size: 40px;
    }


    &.menuIndicator {
      display: none;
    }
  }

  a {
    color: white;
  }
}

.sideNavReposition {
  position: relative;
  bottom: 3px;
}

mat-sidenav:not(.mat-drawer-opened) {
  //animation: slideClose 900ms ease-out !important;
  visibility: visible;
  width: 60px !important;
  overflow: hidden;

  .arrowIndicator {
    display: none;
  }

  .menuIndicator {
    display: inline;
    position: relative;
    top: 8%;
    left: 13%;
    padding: .4rem 0rem;
    width: auto;
    height: auto;
    font-size: 40px;
  }

  mat-icon {
    position: relative;
    right: 25% !important;
    width: auto;
    height: auto;
    font-size: 30px;
  }

  &.redockIcons {
    position: relative;
    font-size: 30px;
  }
}

mat-sidenav:not(.mat-drawer-opened) .navLabel {
  display: none !important;
}

@keyframes slideClose {
  from {
    transform: translateX(-60px);
  }

  to {
    transform: translateX(0px);
  }
}

#sideToggler {
  background-color: rgba(16, 44, 84, 0.99);
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  padding: .4rem 1rem;
  display: flex;
  justify-content: flex-end;
}
