<header class="hero" >
  <div class="hero-head">
    <nav class="navbar has-shadow"  role="navigation" id="topBar">

      <!-- Brand Logo -->
      <div class="navbar-brand">
        <a class="navbar-item is--brand" href="/">
          <img class="navbar-brand-logo" src="/assets/icons/vendialogo2.svg" alt="Brand logo" id="brandVendia">
        </a>
        <button class="button navbar-burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>

      <div class="navbar-menu navbar-end" id="navMenu">
        <div class="navbar-item has-dropdown is-hoverable">

          <a class="navbar-link" id="toplink">
            <figure class="image" style="margin-right: 0.7em">
              <img class="is-rounded " src="/assets/icons/greyUser.jpg" alt="Profile Avatar">
            </figure>
            Name
          </a>

          <div class="navbar-dropdown is-right" id="toplink">
            <a class="navbar-item white-text" href="/" target="_self">
              <span style="color:white">
                <mat-icon>person</mat-icon>
              </span>&nbsp;
              Profile
            </a>

            <hr class="navbar-divider">
            <a class="navbar-item white-text">
              <span style="color:white">
                <mat-icon>logout</mat-icon>
              </span>&nbsp;
              Logout
            </a>
          </div>

        </div>
      </div>
    </nav>
  </div>
</header>
